
.category-form {
  .category-name,
  .category-description {
    width: 50%;
    padding: 10px;
    background: #555;
    border-radius: 20px;
  }
  input, textarea {
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #AAA;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #AAA;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #AAA;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #AAA;
    }
  }
}

.category {
  color: #555;
  .pencil, .trash {
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
  }
}