<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <form name="categoryForm" novalidate class="category-form" ng-show="showCategoryForm">
    <div class="form-group">
      <fieldset>
        <input name="categoryName" class="category-name" ng-model="category.name" placeholder="Category Name" required>
        <p class="lead" ng-show="categoryForm.$submitted && categoryForm.categoryName.$error.required"> Category Name can not be empty. </p>
      </fieldset>
    </div>
    <div class="form-group">
      <fieldset>
        <textarea class="category-description" ng-model="category.description" placeholder="Category Decription"></textarea>
      </fieldset>
    </div>
    <div class="form-group">
      <fieldset>
        <button type="submit" class="btn btn-primary" ng-click="submitForm(categoryForm)"> Save </button>
        <a href="#" class="btn btn-default" ng-click="clear()"> Clear </a>
      </fieldset>
    </div>
  </form>
  
  <!-- <button class="btn btn-primary pull-right" ng-click="createCategory()"> Create Category </button> -->
  <ul class="list-group">
    <li class="list-group-item row category" ng-repeat="category in categories">
      <div class="col-xs-8">
        <strong>{{category.name}}</strong><br>
        <span class="text-muted">{{category.description}}</span>
      </div>
      <div class="col-xs-4">
        <span uib-tooltip="Delete category" tooltip-placement="left" ng-click="delete(category.name, category)" class="trash pull-right"><span class="glyphicon glyphicon-trash"></span></span>
        <span uib-tooltip="Edit category" tooltip-placement="left" ng-click="edit(category)" class="pull-right pencil text-muted"><span class="fa fa-pencil"></span></span>
      </div>
    </li>
  </ul>
</div>